# Binaries
bin/
*.exe

# Test coverage
coverage.out
coverage.html
.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/
go.work

# Local config
*.local.yaml
*.local.json

# Debug
debug
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# VitePress
docs/.vitepress/dist
docs/.vitepress/cache
